* {
    box-sizing: border-box;
}

header {
    background-color: #2196f3;
    max-width: 90vh;
    padding: 10px;
    border-radius: 30px;
}

.bar {
    text-align: center;
}

.bar-item {
    font-size: 1.2em;
    color: white;
}

#greeting {
    margin-top: 0;
    font-size: 1.2em;
}

.bar-btn {
    background-color: #ffc107;
    padding: 6px;
    border: none;
    border-radius: 5px;
}

#btnRestart {
    margin-right: 15px;
}

.section {
    margin-top: 30px;
    padding: 0 10px;
}

#gameBoard .row {
    max-width: 100vh;
    margin: 0 auto;
}

#gameBoard .row .col-xs-3 {
    padding: 5px;
}

@media (min-width: 768px) {
    .bar-item,
    #greeting {
        font-size: 1.4em;
    }

    .section {
        padding: 0 30px;
    }

    #gameBoard .row .col-xs-3 {
        padding: 10px;
    }
}

@media (min-width: 992px) {
    #gameBoard .row {
        max-width: 80vh;
    }
}

.card {
    -webkit-perspective: 800px;
    transition: -webkit-transform .5s linear;
    -webkit-transform-style: preserve-3d;
    -webkit-transform-origin: 50% 50%;
    cursor: pointer;
}

.hero-image, .blank-image, .fake-image {
    display: block;
}

.blank-image, .hero-image {
    position: absolute;
    -webkit-backface-visibility: hidden;
}

.hero-image {
    -webkit-transform: rotateY(180deg);
}

.card.flipped {
    -webkit-transform: rotateY(180deg);
}

.fake-image {
    visibility: hidden;
}

/*IN PROGERS*/

.modal-header {
    border: none;
    color: #ff6f2f;
}

h1.modal-title {
    font-weight: bold;
}

h2.modal-title {
    font-weight: bold;
}

.modal-body {
    border: none;
}

.modal-footer {
    border: none;
}

.btn--next {
    width: 100%;
    font-weight: bold;
}

#modal-body--instruction {
    text-align: left;
}

li {
    padding-top: 1em;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.form-group {
    width: 45%;
    float: left;
}

.form-group:first-child {
    margin-right: 10%;
}

.game-score {
    display: block;
    text-align: center;
}

.modal--head {
    text-align: center;
}

.counter {
    font-size: 75px;
    font-weight: 900;
    color: #3d5cff;
    visibility: hidden;
}

.shareFacebook {

    margin-bottom: 2rem;
}