* {
    box-sizing: border-box;
}

body {
    position: relative;
}

/*Navbar classes*/

.navbar-custom {
    background-color: rgba(61, 92, 255, 0.95);
    border-color: #3d5cff;
}

/* Title and Link */

.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav > li > a {
    color: white;
    font-weight: 600;
    letter-spacing: 1.5px;
}

.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
    color: #ff6f2f;
    background-color: #3d5cff;
}

.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
    color: #3f79ff;
    background-color: white;
}

/* Mobile version */

.navbar-custom .navbar-toggle {
    border-color: white;
}

.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
    background-color: #ff6f2f;
}

.navbar-custom .navbar-toggle .icon-bar {
    background-color: white;
}

/*Hero section classes*/

.hero {
    height: 100vh;
    position: relative;
    overflow: hidden;
}

@media (max-width: 767px) {
    .hero {
        background: url("../images/background-mobile.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }

    .hero-background {
        display: none;
    }
}

.hero-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.hero-text {
    color: white;
}

/*Section classes*/

.section {
    margin-top: 60px;
    padding: 50px 30px;
    box-shadow: 5px 5px 30px;
}

.section-header {
    margin-bottom: 30px;
    font-family: Century Gothic, sans-serif;
    font-weight: bold;
    color: #ff6f2f;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 5px;
}

.section-inner-header {
    margin-top: 15px;
}

/*Canvas*/

.canvas-wrapper {
    margin-top: 30px;
    margin-bottom: 30px;
}

#myCanvas {
    border: 1px solid black;
}

/*Cookies*/

#cookie * {
    margin: 0;
    padding: 0;
}

#cookie {
    background-color: #3d5cff;
    padding: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1000;
    font-size: 12px;
    font-family: Arial, Verdana, sans-serif;
    opacity: 0.95;
}

#cookie .cookie-alert {
    font-size: 16px;
    font-weight: bold;
    color: white;
    margin-bottom: 7px;
}

#cookie .cookie-info {
    font-size: 12px;
    color: white;
    line-height: 1.5em;
}

#cookie a {
    width: 22px;
    height: 22px;
    background-color: #fff;
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
    border-radius: 11px;
    font-size: 12px;
    color: black;
    line-height: 22px;
    text-align: center;
    text-decoration: none;
}

#cookie a:hover {
    background-color: lightgrey;
}

#cookie .cookie-monster {
    height: 200px;
    position: absolute;
    top: -150px;
    right: 42%;
}

@media (max-width: 767px) {
    #cookie-info .cookie-monster {
        display: none;
    }
}

/*Footer*/

.footer {
    background-color: #222;
    margin-top: 60px;
}

.footer .row {
    padding: 15px;
}
.footer-info {
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.footer img {
    width: 50px;
    height: 50px;
}

/*Counter*/

.counter {
    font-size: 75px;
    font-weight: 900;
    color: #3d5cff;
    margin: auto;
    width: auto;
}

.counter-text{
    text-align: center;
}