* {
    box-sizing: border-box;
    transition: all 0.5s;
}

body {
    position: relative;
    font-family: 'Rubik', sans-serif;
}

/*Header section*/

.navbar-custom {
    background-color: rgba(61, 92, 255, 0.95);
    border-color: #3d5cff;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav > li > a {
    color: white;
    font-weight: 600;
    letter-spacing: 1.5px;
    font-family: "Gloria Hallelujah", cursive;
}

.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
    color: #ff6f2f;
    background-color: #3d5cff;
}

.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
    color: #3f79ff;
    background-color: white;
}

.navbar-custom .navbar-toggle {
    border-color: white;
}

.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
    background-color: #ff6f2f;
}

.navbar-custom .navbar-toggle .icon-bar {
    background-color: white;
}

a.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-img {
    width: auto;
    height: 100%;
}

/*Hero section*/

.hero {
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.hero-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: "Gloria Hallelujah", cursive;
}

.hero-text {
    margin-bottom: 20px;
    color: white;
}

@media (max-width: 767px) {
    .hero {
        background: url("../images/background-mobile.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }

    .hero-background {
        display: none;
    }
}

/*Section*/

.section {
    padding: 50px 30px;

}

.section:not(:last-child) {
    border-bottom: 1px solid darkgrey;
}

.section-header {
    margin-bottom: 50px;
    color: #ff6f2f;
    font-size: 3em;
    font-family: Century Gothic, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 5px;
}

.section-inner-header {
    margin-bottom: 15px;
    font-size: 1.6em;
}

.section p {
    font-size: 1em;
    letter-spacing: 1.5px;
    line-height: 1.8em;
}

.section span {
    font-weight: 900;
}

.section-logo {
    width: 150px;
    height: auto;
    margin: 0 auto;
}

@media (max-width: 767px) {
    .section-inner-header, .section p {
        text-align: center;
        line-height: 1.5em;
    }

    .section-logo {
        padding: 10px 0;
    }
}

/*Generator section*/

.canvas-wrapper {
    margin-top: 30px;
    margin-bottom: 30px;
}

#canvas {
    border: 1px solid black;
}

/*Authors section*/

.author-img {
    width: 250px;
    height: auto;
    margin: 0 auto;
}


.thumbnail a{
    text-decoration: none;
}

.thumbnail a>img{
    display: inline-block;
    width: 60px;
    padding: 5px;
}

.thumbnail > .author-link-container{
    margin-bottom: 10px;
}
@media only screen and (min-width: 768px) {

    .thumbnail {
        height: 555px;
        position: relative;
    }

    .thumbnail > .author-link-container,
    .thumbnail .btn{
        margin-bottom: 0;
        position: absolute;
        left: 50%;
        bottom: 30px;
        transform: translateX(-50%);
    }

    .thumbnail > .author-link-container{
        width: 200px;
        bottom: 20px;
    }
}

@media only screen and (min-width: 992px) {

    .thumbnail {
        height: 600px;
    }
}

/*Contact section*/

#status {
    display: none;
    color: green;
    font-size: 1.2em;
    letter-spacing: 3px;
}

/*Footer section classes*/

.footer {
    background-color: #222;
    margin-top: 60px;
}

.footer .row {
    padding: 15px;
}

.footer-info {
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.footer img {
    width: 50px;
    height: 50px;
}

/*Buttons*/

.btn {
    border: none;
    font-family: "Gloria Hallelujah", cursive;
    letter-spacing: 1px;
}

.btn-primary, .btn-primary:hover, .btn-primary:visited, .btn-primary:active, .btn-primary:focus {
    background-color: #3d5cff;
}

.btn-primary:hover {
    color: #ff6f2f;
}

/*Cookies*/

#cookie * {
    margin: 0;
    padding: 0;
}

#cookie {
    background-color: rgba(61, 92, 255, 0.95);
    padding: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1000;
    color: white;
    letter-spacing: 1.2px;
}

#cookie .cookie-alert {
    font-size: 1em;
    font-weight: bold;
    text-align: justify;
    margin-bottom: 7px;
}

#cookie .cookie-info {
    font-size: 0.8em;
    line-height: 1.5em;
}

#cookie a {
    width: 22px;
    height: 22px;
    background-color: #fff;
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
    border-radius: 11px;
    font-size: 1em;
    color: black;
    line-height: 22px;
    text-align: center;
    text-decoration: none;
}

#cookie a:hover {
    background-color: lightgrey;
}

#cookie .cookie-monster {
    height: 200px;
    position: absolute;
    top: -150px;
    right: 35%;
}

@media (max-width: 767px) {
    #cookie .cookie-monster {
        display: none;
    }
}

/*Top button*/

#nav-button {
    display: none;
    position: fixed;
    bottom: 65px;
    left: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #3d5cff;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50px;
    font-weight: bold;
}

#nav-button:hover {
    color: #ff6f2f
}

/*Counter*/

.counter {
    font-size: 75px;
    font-weight: 900;
    color: #3d5cff;
    visibility: hidden;
}


/* shrink navbar */


nav.shrink .navbar-nav>li>a {
    padding: 0.5em;
    transition: all 0.5s;
}

nav.navbar.shrink {
    min-height: 0;
}
nav.shrink .navbar-brand {
    display: none;
}

/*animated paragraphs*/

.staggered-animation{
    opacity:0;
}

/*modal */
.modal-image {
    margin:0 auto;
}

.modal-btn {
    display: block;
    margin:0 auto;
}

#modal p {
    font-size: 2em;
}

#modal h2 {
    font-size: 2.5em;
}