* {
    box-sizing: border-box;
}

body {
    position: relative;
}

.section {
    min-height: 500px;
    padding: 50px 30px;
}

/* template for all navbar facilities */
.navbar-custom {
    background-color: #F8F8F8;
    border-color: #E7E7E7;
}

/* Title */
.navbar-custom .navbar-brand {
    color: #777;
}

.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
    color: #5E5E5E;
}

/* Link */
.navbar-custom .navbar-nav > li > a {
    color: #777;
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
    color: #333;
}

.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #E7E7E7;
}

.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}

/* Caret */
.navbar-custom .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}

.navbar-custom .navbar-nav > .dropdown > a:hover .caret,
.navbar-custom .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}

.navbar-custom .navbar-nav > .open > a .caret,
.navbar-custom .navbar-nav > .open > a:hover .caret,
.navbar-custom .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}

/* Mobile version */
.navbar-custom .navbar-toggle {
    border-color: #DDD;
}

.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
    background-color: #DDD;
}

.navbar-custom .navbar-toggle .icon-bar {
    background-color: #CCC;
}

@media (max-width: 767px) {
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }

    .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
    }
}

/*cookies*/
#cookieinfo * {
    margin: 0px;
    padding: 0px;
}

#cookieinfo {
    position: fixed;
    font-size: 12px;
    font-family: Arial, Verdana, sans-serif;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-color: darkgrey;
    padding: 20px;
    z-index: 1000;
    opacity: 0.95;
}

#cookieinfo h6 {
    font-size: 16px;
    font-weight: bold;
    color: white;
    margin-bottom: 7px;
}

#cookieinfo p {
    font-size: 12px;
    color: white;
    line-height: 1.5em;
}

#cookieinfo a {
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 22px;
    height: 22px;
    border-radius: 11px;
    line-height: 22px;
    font-size: 12px;
    color: white;
    text-align: center;
    text-decoration: none;
    background-color: #519fff;
}

#cookieinfo a:hover {
    background-color: #4cb4ff;
}